/* Gesamter Rating- Bereich */
.smart-rate-container {
    overflow: hidden;
    width: 150%;
    border: 5px solid #d5d5d5; /* rahmen mit 5px, durchgezogen und farbe */
    border-radius: 5px; /* abgerundete Ecken */
    margin-bottom: 5px; /*Abstand nach unten 5px */
    -webkit-box-shadow: 4px 7px 16px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    4px 7px 16px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         4px 7px 16px 0px rgba(50, 50, 50, 0.75); /*Schatten der Container-Box */
}

/* Title des Rating- Containers */
.smart-rate-title {
    font-size: 200%; /* doppelte Schriftgröße */
    font-weight: bold; /* fett gedruckt */
    padding: 10px 5px; /* Schriftabstand oben/unten 10px, seitlich 5px */
}

/*  Hintergrund des Titelbereiches der Rating Box */
.smart-rate-title-bg {
    background-color: #e6e6e6; /* farblich zum Rahmen abgesetzt */
}
.smart-rate-image {
    width: 150px;
    float: left;
}
.image-transition {
    margin-left: 75px;
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2);
    -webkit-box-shadow: 4px 7px 16px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    4px 7px 16px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         4px 7px 16px 0px rgba(50, 50, 50, 0.75); /*Schatten der Image-Box */
}
.smart-rate-pro, .smart-rate-con {
    float: left;
    margin-left: 10%;
}
.smart-rate-pro-heading, .smart-rate-con-heading {
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}

/* Bereich beinhaltet die Sterne- und Balkenbewertung und den Button*/
.smart-rate-bottom {
    float: left;
    width: 100%;
    border-top: solid 1px #d5d5d5;


}